.tituloApartados {
    -fx-font-size: 22px;
}

.textoCamposCobro {
    -fx-font-size: 15px;
}

.valoresTexto {
    -fx-font-size: 16px;
}

.tituloAnadidos {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.textoCamposSP {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}